<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="{{ url_for('pulse.static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('pulse.static', filename='pulse.css') }}">

<script type="text/javascript">
	function confirm_delete(title)
	{
		if(confirm('Are you sure you want to delete:\n"'+title+'" ?')){return true;}else{return false;}
	}
</script>

<title>pulse control panel</title>

</head>

<body>

<header>
<nav>
	<ul>
	   <li><a href="#">[logout]</a></li>
	</ul>
</nav>
<h1>Pulse</h1>
</header>

<section id="page_content">
{% for message in get_flashed_messages(True) %}
    <div class="flashmessage {{message[0]}}">{{ message[1] }}</div>
{% endfor %}

{% block body %}{% endblock %}

</section>

<section id="sidebar">
{% block sidebar %}{% endblock %}
</section>

</body>
</html>
