{% extends "layout.html" %}

{% block content %}
    
    <h2>Visit Totals</h2>
    <table>
        <tr><th>Ever</th><th>Last Month</th><th>This Month</th><th>Today</th></tr>
        <tr><td>{{visits[0]}}</td><td>{{visits[1]}}</td><td>{{visits[2]}}</td><td>{{visits[3]}}</td>
    </table>
    
    <h2>Page Views</h2>
    <table style="font-size:10pt">
        <tr><th>URL</th><th>Visits</th></tr>
        {% for p in pages %}
        <tr><td>{{p[0]}}</td><td>{{p[1]}}</td></tr>
        {% endfor %}
    </table>
    
    
    <h2>Raw Data</h2>
    <table style="font-size:50%;">
    <tr><th>Request ID</th><th>Request URL</th><th>Referrer</th><th>Remote Address</th><th>User Agent</th><th>Timestamp</th></tr>
    {% for r in requests %}
        <tr>
            <td>{{r[0]}}</td>
            <td>{{r[1]}}</td>
            <td style="word-wrap:break-word; max-width:300px;">{{r[4]}}</td>
            <td>{{r[2]}}</td>
            <td>{{r[3]}}</td>
            <td>{{r[5]}}</td>
        </tr>
    {% endfor %}
        
    </table>
{% endblock %}

{% block sidebar %}
{% endblock %}