{% extends "layout.html" %}

{% block html_title %}Pulse{% endblock %}
{% block title %}Pulse{% endblock %}

{% block content %}
    
    <h2>Visit Totals</h2>
    <table>
        <tr><th>Ever</th><th>Last Month</th><th>This Month</th><th>Today</th></tr>
        <tr><td>{{visits[0]}}</td><td>{{visits[1]}}</td><td>{{visits[2]}}</td><td>{{visits[3]}}</td>
    </table>
    
    <h2>Pages Today</h2>
    <table style="font-size:10pt">
        {% for site in pages_today.keys() %}
        {% if pages_today[site] %}
            <tr><th colspan="3">{{site}}</th></tr>
            <tr><th>Page</th><th>IP Address</th><th>Timestamp</th></tr>
            {% for p in pages_today[site] %}
                <tr>
                <td><a href="{{site}}{{p[0]}}" onclick="return false;">
                {% if p[0]|length > 35 %}
                    {{p[0][:34]}}...
                {% else %}
                    {{p[0]}}
                {% endif %}
                </a></td>
                <td>{{p[2]}}</td>
                <td>{{p[1].strftime('%Y-%m-%d %H:%M:%S')}}</td></tr>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
    
    <h2>Referrers (non-search)</h2>
    <table style="font-size:8.5pt">
        {% for site in referrers.keys() %}
        {% if referrers[site] %}
            <tr><th colspan="3">{{site}}</th></tr>
            <tr><th>Page</th><th>Referrer</th><th>Timestamp</th></tr>
            {% for p in referrers[site] %}
                <tr>
                <td><a href="{{site}}{{p[0]}}" onclick="return false;">
                {% if p[0]|length > 35 %}
                    {{p[0][:34]}}...
                {% else %}
                    {{p[0]}}
                {% endif %}
                </a></td>
                <td><a href="{{p[1]}}" onclick="return false;">
                {% if p[1]|length > 35 %}
                    {{p[1][:34]}}...
                {% else %}
                    {{p[1]}}
                {% endif %}
                </a></td>
                <td>{{p[2].strftime('%Y-%m-%d %H:%M:%S')}}</td></tr>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
    
    <h2>Page Views</h2>
    <table style="font-size:10pt">
        {% for site in pages.keys() %}
            <tr><th colspan="2">{{site}}</th></tr>
            <tr><th>URL</th><th>Visits</th></tr>
            {% for p in pages[site] %}
                <tr><td><a href="{{site}}{{p[0]}}" onclick="return false;">
                {% if p[0]|length > 75 %}
                    {{p[0][:74]}}...
                {% else %}
                    {{p[0]}}
                {% endif %}
                </a></td>
                <td>{{p[1]}}</td></tr>
            {% endfor %}
        {% endfor %}
    </table>
    
{% endblock %}

{% block sidebar %}
<section>
    <h3>Google Searches</h3>
    <table style="font-size:10pt">
    <tr><th>Search String</th><th>Count</th></tr>
    {% for s in search_terms %}
    <tr><td>{{s[0]}}</td><td>{{s[1]}}</td></tr>
    {% endfor %}
</section>
{% endblock %}